/.glide
/.idea
/example/gen/proto/java
/cover
/cover.html
/coverage.txt
/internal/genmain/gen-prototool-bash-completion/gen-prototool-bash-completion
/internal/genmain/gen-prototool-zsh-completion/gen-prototool-zsh-completion
/internal/genmain/gen-prototool-manpages/gen-prototool-manpages
/cmd/prototool/prototool
/main
/prototool.iml
/release
/vendor
